.bodyindex{
    background-color: rgb(123, 204, 123);
    background-image: url(imagens5rs/imgfundogreen1.png);
}

.bodyform{
    background-color: rgb(123, 204, 123);
}

.nav{
    text-align: center;
    background-color: rgb(55, 183, 51);
}

.nav ul li{
    margin-right: 25px;
    display: block;
    display: inline-block
}

.bodycadastro{
    background-color: rgb(123, 204, 123);
}

.bodysobre{
    background-color: rgb(123, 204, 123);
}

.img5rs{
   display: flex;
   justify-content: center;
}

.rodape{
    color: black;
    background-color: rgb(24, 181, 24);
}