.bodyindex{
    background-color: rgb(123, 204, 123);
}

.bodyform{
    background-color: rgb(123, 204, 123);
}

.nav{
    text-align: center;
    background-color: rgb(122, 226, 119);
}

a:link{
    text-decoration: none;
}

.nav ul li{
    margin-right: 25px;
    display: block;
    display: inline-block
}

.bodycadastro{
    background-color: rgb(123, 204, 123);
}

.bodysobre{
    background-color: rgb(123, 204, 123);
}

.img5rs{
   display: flex;
   justify-content: center;
}

.rodape{
    color: black;
    background-color: rgb(122, 226, 119);
}